@font-face {
  font-family: "ReadyActive";
  src: url("../fonts/ReadyActive-Light.otf");
}
@font-face {
  font-family: "ReadyClouded";
  src: url("../fonts/ReadyClouded-Light.otf");
}
@font-face {
  font-family: "PetitFrere";
  src: url("../fonts/PetitFrereWide-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "PetitFrere";
  src: url("../fonts/PetitFrereWide-Black.otf");
  font-weight: bold;
}

.espace-editorial{
    border:1px solid black;
    font-weight: normal;
    padding: .7em .6em .4em .6em;
    position:fixed;
    right:4em;
    top:3em;
    padding: .7em .6em .4em .6em;
    text-transform: uppercase;
    font-size: .8rem;
  }

body{
  background-color: rgb(245,245,245);
  padding:3em 5em 5em 5em;
  font-family: "PetitFrere";
  font-size: 1em;
}


.subPart{
  padding-left:10%;
}

/* body {
    overflow:hidden;
} */

form {
    position: absolute;
    right: 1em;
    top: 1em;
}

.prototype{
    display:flex;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

.siteTag {
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    margin: 0 auto;
    font-size: 10em;
    cursor: pointer;
}

.articleContent img{
    width: auto;
}

.imagetitre{
    width: 30vw;
}

/*AHAHHA*/

body{
    margin:0;
    padding:0;
}

.flex{
/*     position:absolute;
    top:10%; */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    margin:0;
    padding:0;
    justify-content: flex-end;
    align-items:center;
}

h1{
    font-family: "ReadyActive";
    font-weight: normal;
    font-size: 5em;
    color:black;
    width: 100%;
    text-align: center;
    margin:0;
    padding-top:1%;
    padding-bottom:1%;
}

img, .couvProto{
    width: 5%;
    right:0;
    padding:1%;
    padding-right:0;
}

img, .couvProto:nth-child(even){
    width: 5%;
    left:0;
    padding:1%;
    padding-right:0;
}

.subFlex h2{
    padding:0.2%;
    padding-left:1%;
    padding-right:1%;
    margin:0;
    font-size:1rem;
    width: 100%;
    color:black;
    border:1px solid black;
    border-left-width: 0;
    border-right-width: 1%;
    border-bottom-width: 0;
    border-top-width:1%;
    /* border-radius:5%; */
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    align-self:flex-start;
    transition: width 1s, font-size 1s, margin 1s;
}

.subFlex h2:nth-child(even){
    border:1px solid black;
    border-left-width:0;
    border-right:1%;
    border-top:0;
    border-bottom:1%;
    align-self:flex-end;

}

.subFlex h2:first-of-type{
    border-left-width:0;
}

.subFlex h2:last-of-type{
    border-right-width:0;
}

.subFlex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:7vh;
}

h2:hover{
    width:400%;
    font-size:1.5rem;
/*     margin-top:0.65%;
    margin-bottom:0.7%; */
    transition: width 1s, font-size 1s, margin 1s;
    transition-timing-function: ease-in-out;
}

a{
    color:black;
    width: inherit;
  }
  a:hover{
      color:black;
  }


