                <h2><p>&nbsp; <br>CREDITS</p></h2>

<div class="footerhome">
<div>             <p>Conception et&nbsp;coordination&nbsp;: <a href="http://lucilehaute.fr/">Lucile&nbsp;Haute</a> <br>
Développement et&nbsp;design&nbsp;: <a href="https://www.armansansd.net/">Arman&nbsp;Mohtadji</a> &amp; <a href="http://benjamindumond.fr/">Benjamin&nbsp;Dumond</a> (<a href="https://bonjourmonde.net/en">Bonjour&nbsp;Monde</a>). Télécharger <a href="https://gitlab.com/armansansd/bookolab/">Bookolab ici</a>.<br>
Cahier des charges&nbsp;: <a href="http://lucilehaute.fr/">Lucile&nbsp;Haute</a> &amp; <a href="https://juhel-quentin.fr/">Quentin Juhel</a> <br>
Système de&nbsp;gestion de&nbsp;contenu&nbsp;: <a href="https://getgrav.org/">GRAV</a><br>
Librairie de mise en page PDF&nbsp;: <a href="https://pagedjs.org/">Paged.js</a><br>
Réalisé avec le&nbsp;soutien de&nbsp;: <a href="https://unimes.fr">Université de&nbsp;Nîmes</a> (<a href="https://projekt.unimes.fr/bookolab/">Laboratoire Projekt</a> et <a href="https://lid.unimes.fr/projet-thematique-de-loption-design-et-cultures-numeriques-l3/">Licence Design</a>) &amp; <a href="https://www.ensad.fr/">École des arts Décoratifs&nbsp;–&nbsp;PSL</a> </p></div>
           
</div>